<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Expires" content="0" />
	<meta name="_csrf" th:content="${_csrf.token}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<title>代码生成器</title>
</head>
<body>
	<div class="contioner" style="margin-top: 150px;">
		<input type="hidden" name="username" th:value="${username}"/>
		<div class="h2" style="text-align: center;">代码生成器</div>
		<div  style="width: 1000px;margin: auto;text-align: center;">
			您好，密码重置成功，请使用新密码<a th:href="@{/}">登录</a>。
		</div>
	</div>
</body>
</html>