<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Expires" content="0" />

<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap-table/dist/bootstrap-table.min.css}">
<title>代码生成器</title>

<style type="text/css">
html,body{
	margin:0px;
	padding:0px;
	height: 100%;
}
</style>
</head>
<body style="overflow: hidden;">
	<div class="error" style="padding: 10px;height: 72px;display: none;">
		<div class="alert alert-warning" style="display: none;">
            <a href="#" class="close" >&times;</a>
			<strong>错误！</strong><span class="alertMsg" style="display: inline;"></span>
        </div>
	</div>
	<div class="success" style="padding: 10px;height: 72px;display: none;">
        <div id="success" class="alert alert-success">
		    <a href="#" class="close" >&times;</a>
		    <strong>提示！</strong><span class="successMsg" style="display: inline;"></span>
		</div>
	</div>
	<input id="currentUserId" type="hidden" th:value="${#authentication.principal.id}"/>
	<div class="bootstrapTable" style="height: 100%;">
		<div style="padding: 10px;height: 100%;">
			<table id="userTable"></table>
		</div>
	</div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap-table/dist/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/modal.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/alert.js}"></script>
<script type="text/javascript" th:src="@{/scripts/user/index.js}"></script>
</html>